body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.background-image {
    background: url('https://i.imgur.com/UJD6gch.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .login-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        width: 600px; /* Adjust the width as needed */
        margin: 0 auto; /* Center the container horizontally */
    }

h1 {
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #0070FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0050A0;
}

.message {
    color: red;
    margin-top: 10px;
}

.register-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #0070FF;
    font-weight: bold;
}
