/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* Background image and layout adjustments */
.background-image {
    background: url('https://i.imgur.com/UJD6gch.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Registration container adjustments */
.registration-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

h1 {
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%; /* Adjust the width as needed */
    padding: 10px; /* Adjust the padding as needed */
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 80%; /* Adjust the width as needed */
    padding: 10px;
    margin: 10px 0;
    background-color: #0070FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0050A0;
}

.message {
    color: red;
    margin-top: 10px;
}

.register-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #0070FF;
    font-weight: bold;
}

/* Media query for smaller screens (mobile devices) */
@media (max-width: 768px) {
    .background-image {
        /* Adjustments for smaller screens */
    }

    .registration-container {
        width: 90%; /* Adjustments for mobile */
        padding: 15px; /* Adjustments for mobile */
    }

    h1 {
        font-size: 24px; /* Adjustments for mobile */
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 90%; /* Adjustments for mobile */
        padding: 8px; /* Adjustments for mobile */
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        width: 90%; /* Adjustments for mobile */
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }

    .message {
        font-size: 14px; /* Adjustments for mobile */
        margin-top: 8px;
    }
}
